body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
}
.item{
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}
.header{
    background-color: red;
    color: #fff;
}
.sidebar{
    background-color: green;
    color: #fff;
}
.main{
    background-color: blue;
    color: #fff;
}
.footer{
    background-color: chocolate;
    color: #fff;
}
@media screen and (min-width:768px){
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer footer footer";
    }
}