.heading{
    color: blue;
}
.subheading{
    color: green;
}
.title{
    color: aqua;
}
.description{
    color: red;
}
.btn1{
    background-color: greenyellow;
}
.btn2{
    background-color: burlywood;
}