.firstname{
    background-color: blue;
}
.LastName{
    background-color: green;
}
.email{
    background-color: blanchedalmond;
}
.age{
    background-color: blueviolet;
}
.password{
    background-color:red;
}